
body {
	margin: 0;
	padding: 0;
	text-align: center;
}

* {
	font-family: Helvetica, Arial, sans-serif;
	color: #0D4963;
	font-size: 14px;
}

h1 {
	font-size: 16px;
	font-style: bold;
	padding: 0px 0px 15px 0px;
}

p {
	font-size: 14px;
	font-style: normal;
	padding: 0px;
}

canvas {
	background-color: #FFF;
	border: 1px solid #ccc;
	cursor: crosshair;
	}

.container {

}

.container:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.btn-group-vertical {
	margin: 0px;
	vertical-align: middle;
}

#canvas_div {
	display: inline-block;
	vertical-align: middle;
}

#range {
	margin-top: 100px;
	transform: rotate(270deg)
}

#amount {
	margin-top: 70px;
}

#pen, #brush, #eraser {
	width: 50px;
	height: 50px;
	margin: 2px;
	padding: 0;
	color: 'black';
}

 #purple, #pink, #red, #orange, #yellow, #green, #teal, #blue, #lightblue {
	width: 50px;
	height: 50px;
	margin: 2px;
}

#purple {
	background: purple;
}

#pink {
	background-color: pink;
}

#red {
	background: red;
}

#orange {
	background: orange;
}

#yellow {
	background: yellow;
}

#green {
	background: green;
}

#teal {
	background: teal;
}

#blue {
	background: blue;
}

#lightblue {
	background: lightblue;
}