
html body {
	margin: 0;
	padding: 0;
	background-color: rgba(235, 235, 235, 1.00);
	text-align: center;
}

* {
	font-family: Helvetica, Arial, sans-serif;
	color: #202020;
}

html h1 {
	font-size: 22px;
	font-style: bold;
	padding: 5px 0px 15px 0px;
}

html a {
	color: #202020;
}

canvas {
	background-color: #FFF;
	border: 1px solid #ccc;
	cursor: crosshair;
	}

.container {

}

.container:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.btn-group-vertical {
	margin: 0px;
	vertical-align: middle;
	
}

#canvas_div {
	display: inline-block;
	vertical-align: middle;
}

#range {
	width: 105px;
	position: absolute;	
	margin-top: 50px;
	transform: rotate(270deg);
}

#amount {
	margin-top: 40px;
}

#pen, #brush, #eraser, #save {
	background: white;
	width: 50px;
	height: 50px;
	margin: 2px;
	padding: 0;
	border-radius: 0;
	border-color: black;
}

#pen {
	background: url('../img/pen.svg') no-repeat;
}

#brush {
	background: url('../img/brush.svg') no-repeat;
}

#eraser {
	background: url('../img/eraser.svg') no-repeat;
}

#save {
	background: url('../img/save.svg') no-repeat;
}

#purple, #pink, #red, #orange, #yellow, #green, #blue, #lightblue, #black {
	width: 50px;
	height: 50px;
	margin: 2px;
	border-radius: 0;
}

#purple {
	background: purple;
}

#pink {
	background-color: pink;
}

#red {
	background: red;
}

#orange {
	background: orange;
}

#yellow {
	background: yellow;
}

#green {
	background: green;
}

#lightblue {
	background: lightblue;
}

#blue {
	background: blue;
}

#black {
	background: black;
}